# This is a basic workflow to help you get started with Actions
name: Try build action

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build something
      run: |
        cd $GITHUB_WORKSPACE
        make prepare
        make BOARD=jvt_s274h19v-l29_hi3519v101_imx274 all
        
